<div style="justify-self: center;">
  <h1 >**** ***** DIRECTIVES ***** ****</h1>
  <p>In Angular, directives are a core concept—they let you extend or 
    manipulate the DOM (HTML) by attaching behavior to elements.</p>
    <p>you need to import <b><i>commonModule</i></b> to use directives</p>
    <h3>Types of Directives</h3>
    <ol>
      <li>component directives: (@component)  --→ directives with templates</li>
      <li>structural directives: (*ngIf, *ngFor, *ngSwitch)  --→ change layout (add/remove elements)</li>
      <li>Attribute directives: ([ngClass], [ngStyle])  --→ change style/behavior</li>
    </ol>
    <p>you can also create your own <b>Custom Directive</b></p>

    <h3 *ngIf="isUser()">This is being displayed using *ngIf="true"</h3>
    <h3 *ngIf="!isUser()"> this is being displayed using *ngIf="!false"</h3>

    <br><hr><br>
    <h3>using *ngFor</h3>
    <ul *ngFor="let name of names()">
      <li>{{name}}</li>
    </ul>

    <br><hr><br>
    <h3>styling using Attribute directive: </h3>
    <h4>ngStyle: </h4>
    <h1 [ngStyle]="{color: colorRed}">Hello <span [ngStyle]="{color: colorViolet}">Friends!</span></h1>
    <h2>------------More About Structural Directives--------------</h2><br><hr><br>
</div>
<app-structural-directive></app-structural-directive>